.contain {
  display: flex;
  width: 100%;
  height: 100vh;
  background: black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#094c72+98,01293f+100 */
  background: rgb(9, 76, 114);
  background: -webkit-radial-gradient(bottom, ellipse cover, rgb(3, 26, 39) 0%, rgb(1, 21, 32) 100%);
  background: -webkit-radial-gradient(ellipse at bottom, rgb(2, 32, 49) 0%, rgb(1, 32, 49) 100%);
  background: -webkit-radial-gradient(bottom, ellipse, rgb(5, 36, 54) 0%, rgb(2, 24, 36) 100%);
  background: radial-gradient(ellipse at bottom, rgb(6, 39, 58) 0%, rgb(1, 27, 41) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#094c72', endColorstr='#01293f', GradientType=1);

}

.cardLeft {
  display: flex;
  width: 45vw;
  justify-content: space-around;
  /* align-items: center; */
}

.cardRight {
  display: flex;
  width: 45vw;
  ;
  justify-content: space-around;
  /* align-items: center; */
}

.compScore {
  color: white;
}

.userScore {
  color: white;
}